<form [formGroup]="form" (ngSubmit)="submit(form.value)" class="container mt-4">
  <div *ngFor="let field of formConfig.fields" class="col-md-3 mb-3">
    <label [attr.for]="field.name" class="form-label">{{ field.label }}</label>

    <ng-container [ngSwitch]="field.type">
      <!-- Text Input -->
      <input
        *ngSwitchCase="'text'"
        [formControl]="getFieldControl(field)"
        [attr.placeholder]="field.placeholder"
        type="text"
        class="form-control col-md-4"
        [attr.id]="field.name"
      />
      <input
        *ngSwitchCase="'password'"
        [formControl]="getFieldControl(field)"
        [attr.placeholder]="field.placeholder"
        type="password"
        class="form-control col-md-4"
        [attr.id]="field.name"
      />

      <!-- Email Input -->
      <input
        *ngSwitchCase="'email'"
        [formControl]="getFieldControl(field)"
        [attr.placeholder]="field.placeholder"
        type="email"
        class="form-control"
        [attr.id]="field.name"
      />

      <!-- Select -->
      <select
        *ngSwitchCase="'select'"
        [formControl]="getFieldControl(field)"
        class="form-select"
        [attr.id]="field.name"
      >
        <option *ngFor="let option of field.options" [value]="option.value">
          {{ option.label }}
        </option>
      </select>

      <!-- Checkbox -->
      <div *ngSwitchCase="'checkbox'" class="form-check">
        <input
          type="checkbox"
          [formControl]="getFieldControl(field)"
          class="form-check-input"
          [attr.id]="field.name"
        />
        <label [attr.for]="field.name" class="form-check-label">{{
          field.label
        }}</label>
      </div>

      <!-- Radio Buttons -->
      <div *ngSwitchCase="'radio'">
        <div *ngFor="let option of field.options" class="form-check">
          <input
            type="radio"
            [formControl]="getFieldControl(field)"
            [value]="option.value"
            class="form-check-input"
            [attr.id]="option.value"
            [attr.name]="field.name"
          />
          <label [attr.for]="option.value" class="form-check-label">{{
            option.label
          }}</label>
        </div>
      </div>
    </ng-container>

    <!-- Validation Error Messages -->
    <div
      *ngIf="
        getFieldControl(field).invalid &&
        (getFieldControl(field).dirty || getFieldControl(field).touched)
      "
      class="text-danger mt-2"
    >
      <div *ngIf="getFieldControl(field).errors?.required">
        This field is required.
      </div>
    </div>
  </div>
  <hr class="col-md-3" />
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    Submit
  </button>
</form>